.toastui-viewer {
  padding: 18px 25px;
}

.toastui-viewer,
.toastui-editor-defaultUI .ProseMirror {
  max-width: 800px;
  margin: auto;
}

.toastui-editor-dark,
.toastui-editor-defaultUI {
  border: 0;
  font-family: inherit;
  border-radius: 0;
}

.toastui-editor-toolbar {
}

.toastui-editor-defaultUI-toolbar {
  border-radius: 0;
  background-color: hsl(var(--background));
  border-color: hsl(var(--border));
  display: flex;
  justify-content: center;
}

.toastui-editor-defaultUI-toolbar button {
  border-color: hsl(var(--border));
  color: hsl(var(--foreground));
  border-radius: 6px;
  transition: all 0.2s;
}

.toastui-editor-toolbar-icons {
  background-position-y: -49px;
}

.toastui-editor-defaultUI-toolbar button:not(:disabled):hover {
  border-color: hsl(var(--border));
  background-color: hsl(var(--accent));
}

.toastui-editor-defaultUI-toolbar button:active {
  scale: 0.94;
}

.toastui-editor-toolbar-divider {
  background-color: hsl(var(--border));
}

.toastui-editor-main-container {
  color: hsl(var(--foreground));
}

.toastui-editor-ww-container {
  background-color: hsl(var(--background));
}

.toastui-editor-contents {
  font-family: inherit;
}

.ProseMirror {
  color: hsl(var(--foreground));
}

.toastui-editor-contents h2 {
  border-color: hsl(var(--border));
}

.toastui-editor-contents h1,
.toastui-editor-contents h2,
.toastui-editor-contents h3,
.toastui-editor-contents h4,
.toastui-editor-contents h5,
.toastui-editor-contents h6 {
  color: hsl(var(--foreground));
}

.toastui-editor-contents p {
  color: hsl(var(--foreground));
}

.toastui-editor-contents code {
  background-color: hsl(var(--secondary));
  border-radius: 4px;
}

.toastui-editor-contents pre {
  background-color: hsl(var(--secondary));
  border-radius: 8px;
}

.toastui-editor-contents .toastui-editor-ww-code-block:after {
  background-color: hsl(var(--primary));
  color: hsl(var(--primary-foreground));
  border-radius: 6px;
}

.toastui-editor-contents a {
  cursor: pointer;
}

.toastui-editor-ww-code-block-language {
  background-color: hsl(var(--primary));
  color: hsl(var(--primary-foreground));
  border-radius: 6px;
}

.toastui-editor-ww-code-block-language input {
  color: hsl(var(--primary-foreground));
}

.toastui-editor-main-container img {
  border-radius: 8px;
}

.toastui-editor-contents del {
  color: hsl(var(--muted-foreground));
}

.toastui-editor-contents blockquote p {
  color: hsl(var(--foreground));
}

.toastui-editor-contents table {
  border-color: hsl(var(--border));
  border-radius: 8px;
  color: hsl(var(--foreground));
}

.toastui-editor-contents table th {
  background-color: transparent;
  color: hsl(var(--secondary-foreground));
}

.toastui-editor-contents th p {
  color: hsl(var(--secondary-foreground));
}

.toastui-editor-contents table th,
.toastui-editor-contents table td {
  border-color: hsl(var(--border));
}

.toastui-editor-contents .task-list-item::before {
  border-radius: 6px;
  margin-top: 4px;
}

.toastui-editor-contents ol > li::before {
  margin-top: 3px;
  color: hsl(var(--muted-foreground));
}

.toastui-editor-contents ul > li::before {
  margin-top: 10px;
  background-color: hsl(var(--muted-foreground));
}

.toastui-editor-contents hr {
  border-color: hsl(var(--border));
}

.toastui-editor-dropdown-toolbar {
  border-color: hsl(var(--border));
  background-color: hsl(var(--popover));
  color: hsl(var(--popover-foreground));
}

.toastui-editor-main-container code[class*='language-'],
.toastui-editor-main-container pre[class*='language-'] {
  text-shadow: none;
}

.toastui-editor-dark .toastui-editor-ww-code-block-highlighting:after {
  background-color: hsl(var(--primary));
  color: hsl(var(--primary-foreground));
  border-color: hsl(var(--border));
  border-radius: 4px;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDI1LjIuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IuugiOydtOyWtF8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiCgkgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMzAgMzAiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDMwIDMwOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+Cgkuc3Qwe2ZpbGwtcnVsZTpldmVub2RkO2NsaXAtcnVsZTpldmVub2RkO2ZpbGw6IzU1NTU1NTt9Cjwvc3R5bGU+CjxnPgoJPGc+CgkJPGc+CgkJCTxnPgoJCQkJPGc+CgkJCQkJPHBhdGggY2xhc3M9InN0MCIgZD0iTTE1LjUsMTIuNWwyLDJMMTIsMjBoLTJ2LTJMMTUuNSwxMi41eiBNMTgsMTBsMiwybC0xLjUsMS41bC0yLTJMMTgsMTB6Ii8+CgkJCQk8L2c+CgkJCTwvZz4KCQk8L2c+Cgk8L2c+CjwvZz4KPC9zdmc+Cg==);
}

.toastui-editor-popup {
  background-color: hsl(var(--popover));
  color: hsl(var(--popover-foreground));
  border-color: hsl(var(--border));
  border-radius: 6px;
}

.toastui-editor-popup-body {
  font-size: 14px;
  font-family: var(--font-family);
}

.toastui-editor-popup-add-heading ul {
  padding: 4px;
}
.toastui-editor-popup-add-heading ul li {
  border-radius: 4px;
  padding: 6px 8px;
  transition: all 0.2s;
}
.toastui-editor-popup-add-heading ul li:hover {
  background-color: hsl(var(--accent));
}

.toastui-editor-popup-add-heading ul li:active {
  scale: 0.96;
}

.toastui-editor-popup-add-heading ul li > * {
  line-height: 1;
}

.toastui-editor-popup-add-table .toastui-editor-table-cell {
  background: hsl(var(--popover));
  border-color: hsl(var(--border));
}
.toastui-editor-popup-add-table .toastui-editor-table-cell.header {
  background: hsl(var(--popover));
  border-color: hsl(var(--border));
}

.toastui-editor-popup-add-table .toastui-editor-table-description {
  color: hsl(var(--popover-foreground));
}

.toastui-editor-defaultUI .toastui-editor-close-button,
.toastui-editor-defaultUI .toastui-editor-ok-button,
.toastui-editor-popup-add-image .toastui-editor-file-select-button {
  --button-bg: var(--primary);
  --button-text: var(--primary-foreground);
  padding: 8px 16px;
  height: 40px;
  font-size: 14px;
  border: 0;
  font-weight: 500;
  line-height: 20px;
  border-radius: 6px;
  font-family: var(--font-family);
  background-color: hsl(var(--button-bg));
  color: hsl(var(--button-text));
  transition: all 0.2s;
  width: auto;
}

.toastui-editor-defaultUI .toastui-editor-close-button:hover,
.toastui-editor-defaultUI .toastui-editor-ok-button:hover,
.toastui-editor-file-select-button:hover {
  background-color: hsl(var(--button-bg) / 0.8);
}
.toastui-editor-defaultUI .toastui-editor-close-button:active,
.toastui-editor-defaultUI .toastui-editor-ok-button:active,
.toastui-editor-file-select-button:active {
  scale: 0.96;
}

.toastui-editor-defaultUI .toastui-editor-close-button {
  --button-bg: var(--secondary);
  --button-text: var(--secondary-foreground);
}

.toastui-editor-defaultUI .toastui-editor-ok-button {
  --button-bg: var(--primary);
  --button-text: var(--primary-foreground);
}

.toastui-editor-popup-add-image .toastui-editor-file-name {
  border-color: hsl(var(--border));
  color: hsl(var(--foreground));
  height: 40px;
  font-weight: 500;
  line-height: 20px;
  border-radius: 6px;
  font-family: var(--font-family);
  display: inline-flex;
  align-items: center;
}

.toastui-editor-popup-add-image .toastui-editor-tabs .tab-item.active {
  color: hsl(var(--foreground));
  border-color: hsl(var(--foreground));
}

.toastui-editor-popup-add-image .toastui-editor-file-name.has-file {
  color: hsl(var(--foreground));
}

.toastui-editor-popup-add-image .toastui-editor-tabs .tab-item {
  border-color: hsl(var(--border));
}

.toastui-editor-popup-add-image .toastui-editor-tabs .tab-item:hover {
  border-color: hsl(var(--foreground));
}

.toastui-editor-popup-body input[type='text'] {
  border-color: hsl(var(--border));
  color: hsl(var(--foreground));
  background-color: transparent;
  height: 40px;
  font-weight: 500;
  line-height: 20px;
  border-radius: 6px;
  font-family: var(--font-family);
  display: inline-flex;
  align-items: center;
}

.toastui-editor-popup-body input[type='text']:focus {
  border-color: hsl(var(--border));
  outline: none;
}

.toastui-editor-tooltip {
  background-color: hsl(var(--popover));
  color: hsl(var(--popover-foreground));
  border: 1px solid hsl(var(--border));
  border-radius: 6px;
  font-size: 14px;
  font-family: var(--font-family);
}

.toastui-editor-tooltip .arrow {
  display: none;
}

.toastui-editor-context-menu {
  background-color: hsl(var(--popover));
  color: hsl(var(--popover-foreground));
  border-color: hsl(var(--border));
  border-radius: 6px;
  padding: 4px;
}

.toastui-editor-context-menu .menu-group {
  border-color: hsl(var(--border));
  padding-bottom: 4px;
  margin-bottom: 4px;
}

.toastui-editor-context-menu .menu-item {
  border-radius: 4px;
  padding: 6px 8px;
  height: auto;
  line-height: 1;
  transition: all 0.2s;
}

.toastui-editor-context-menu .menu-group:last-child {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.toastui-editor-context-menu li:not(.disabled):hover {
  background-color: hsl(var(--accent));
}

.toastui-editor-context-menu .menu-item:active {
  scale: 0.96;
}
